@import '../styles/variables';

.card-media {
    height: 220px;
}
.card-popup-media {
    width: 100%;
    height: auto;
}
.card-desc {
    height: 32px;
    overflow: hidden;
    font-family: @fontFamily;
}