.dashboard .stat {
  width: 100%;
  padding: 50px 20px;
  display: inline-block;
  text-align: center;
  user-select: none;
  margin-bottom: 30px;
}
.dashboard .stat .count {
  font-size: 50px;
  font-weight: lighter;
}
.dashboard .stat .title {
  margin-top: 15px;
  font-size: 30px;
  font-weight: lighter;
}
.dashboard .c-orange {
  background-color: #FF9800;
  color: #FFF3E0;
}
.dashboard .c-orange:hover {
  background-color: #FB8C00;
}
.dashboard .c-red {
  background-color: #F44336;
  color: #FFEBEE;
}
.dashboard .c-red:hover {
  background-color: #E53935;
}
.dashboard .c-purple {
  background-color: #9C27B0;
  color: #F3E5F5;
}
.dashboard .c-purple:hover {
  background-color: #8E24AA;
}
.dashboard .c-green {
  background-color: #4CAF50;
  color: #E8F5E9;
}
.dashboard .c-green:hover {
  background-color: #43A047;
}
.content {
  margin-top: 70px;
  padding: 15px;
}
.page-loading {
  margin-top: 50px;
  text-align: center;
}
.page-loading .loading {
  display: inline-block;
}
.card-wrap {
  margin-bottom: 30px;
}
.load-more {
  text-align: center;
  margin: 20px 0;
}
.page-actions {
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px 15px;
  box-shadow: -2px -2px 5px 0px rgba(0, 0, 0, 0.2), -1px 1px 2px 0px rgba(0, 0, 0, 0.14), -1px 2px 1px -2px rgba(0, 0, 0, 0.12);
}
.page-actions .action {
  margin-left: 15px;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
