@color-orange: #FF9800;
@color-o50: #FFF3E0;
@color-o100: #FFE0B2;
@color-o200: #FFCC80;
@color-o300: #FFB74D;
@color-o600: #FB8C00;
@color-o700: #F57C00;

@color-red: #F44336;
@color-r50: #FFEBEE;
@color-r100: #FFCDD2;
@color-r200: #EF9A9A;
@color-r300: #E57373;
@color-r600: #E53935;
@color-r700: #D32F2F;

@color-purple: #9C27B0;
@color-p50: #F3E5F5;
@color-p100: #E1BEE7;
@color-p200: #CE93D8;
@color-p300: #BA68C8;
@color-p600: #8E24AA;
@color-p700: #7B1FA2;

@color-green: #4CAF50;
@color-g50: #E8F5E9;
@color-g100: #C8E6C9;
@color-g200: #A5D6A7;
@color-g300: #81C784;
@color-g600: #43A047;
@color-g700: #388E3C;

.create-colors(@c1, @c2, @c3) {
    background-color: @c1;
    color: @c2;   
    &:hover {
        background-color: @c3;
    }
}
.dashboard {
    .stat {
        width: 100%;
        padding: 50px 20px;
        display: inline-block;
        text-align: center;
        user-select: none;
        .count {
            font-size: 50px;
        }
        .title {
            margin-top: 15px;
            font-size: 30px;
        }
    }
    .c-orange {
        .create-colors(@color-orange, @color-o50, @color-o600);
    }
    .c-red {
        .create-colors(@color-red, @color-r50, @color-r600);
    }
    .c-purple {
        .create-colors(@color-purple, @color-p50, @color-p600);
    }
    .c-green {
        .create-colors(@color-green, @color-g50, @color-g600);
    }
}